{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form method="POST" action="/login">
  <div class="input-container">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="mamkin_hacker_228">
  </div>
  <div class="input-container">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="abobus_sus">
  </div>
  <div class="button-container">
    <button>Log in 😍</button>
  </div>
</form>
{% endblock %}